body {font-family: Calibri;
	font-size: 12px;
	background-color: #C0C0C0;
}

header {text-align: center;
		margin: 25px;
}
#name {font-size: 18px;
	font-weight: bold;
}
#address {font-size: 14px;
}
#email {font-size: 12px;
}

.line {margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
	background-color: black;
	height: 1px;
	width: 600px;
}

.lc {height: 300px;
	width: 700px;
	margin: auto;
}
.mc {height: 100px;
	width: 700px;
	margin:auto;
}
.time{height: 50px;
	width: 200px;
	float: left;
}
.job{height: 50px;
	width: 300px;
	margin: auto;
}

h1 {margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
}

.place {font-weight: bold;
}

.pos {font-style: italic;
		margin: 0px;
}